$grey-dk-000: #969395;
$grey-dk-100: #62595c;
$grey-dk-200: #4d4344;
$grey-dk-250: #362d30;
$grey-dk-300: #2b2627;

$grey-lt-000: #faf6f5;
$grey-lt-100: #eeebee;
$grey-lt-200: #edebec;
$grey-lt-300: #e8e1e6;

$purple-000: #ed5372;
$purple-100: #d0415e;
$purple-200: #4e26af;
$purple-300: #381885;

$body-background-color: $white;
$sidebar-color: $grey-lt-000;
$search-background-color: $white;
$table-background-color: $white;
$code-background-color: $grey-lt-000;
$feedback-color: darken($sidebar-color, 3%);

$body-text-color: $grey-dk-100;
$body-heading-color: $grey-dk-300;
$search-result-preview-color: $grey-dk-000;
$nav-child-link-color: $grey-dk-100;
$link-color: $purple-000;
$btn-primary-color: $purple-100;
$base-button-color: #f7f7f7;
